companyfacts.zip
__pycache__/
*.pyc
out_gate0*.log
out_*.log
night/*.log
edinet_key.txt
edinet_csv/
edinet_codelist.zip
edinet_docindex.json
out/_cf_cache/
out/_*.log
out/_sic_cache.json
scratchpad/
node_modules/
